In [11]:
import pandas as pd 

df = pd.read_csv("C:/Users/Stanislav/OneDrive/Pulpit/Data Science and Licencjat/Licencjat/Dane/HANZE_european_floods_losses/HANZE_events.csv")
df.head()

,ID,Country code,Year,Country name,Start date,End date,Type,Flood source,Regions affected (v2010),Regions affected (v2021),Area flooded,Fatalities,Persons affected,Losses (nominal value),Losses (original currency),Losses (2020 euro),Cause,Notes,References,Changes
0,2000,AL,1946,Albania,1946-10-11,1946-11-15,River,NaN,AL011;AL012;AL013;AL015;AL021;AL022;AL031;AL03...,AL011;AL012;AL013;AL015;AL021;AL022;AL031;AL03...,NaN,15.0,NaN,1.000000e+09,ALK,29746037.0,Heavy rainfall,Also landslides,UNDRR (2022),New
1,2001,AL,1953,Albania,1953-12-12,1953-12-12,Flash,NaN,AL014;AL015,AL014;AL015,NaN,5.0,NaN,8.000000e+07,ALK,2379683.0,Extreme rainfall,NaN,UNDRR (2022),New
2,2002,AL,1960,Albania,1960-11-07,1960-11-07,Flash,NaN,AL022;AL032;AL035,AL022;AL032;AL035,NaN,4.0,NaN,NaN,NaN,NaN,Extreme rainfall,NaN,UNDRR (2022),New
3,2003,AL,1962,Albania,1962-11-15,1962-11-16,River,Drin; Buna; Semani; Vjosa,AL011;AL012;AL013;AL014;AL015;AL021;AL022;AL03...,AL011;AL012;AL013;AL014;AL015;AL021;AL022;AL03...,995.0,9.0,NaN,2.000000e+09,ALK,59492073.0,Heavy rainfall,Flood impact continued into 1963; Impact area ...,UNDRR (2022); GIZ (2018); Bogdani and Selenica...,New
4,2532,AL,1968,Albania,1968-12-17,1968-12-17,Flash,NaN,AL015,AL015,15.0,0.0,NaN,NaN,NaN,NaN,Extreme rainfall,NaN,UNDRR (2022),New

In [10]:
print(df['Losses (nominal value)'].isna().sum())
print(df.info)

1516
<bound method DataFrame.info of         ID Country code  Year    Country name  Start date    End date   Type  \
0     2000           AL  1946         Albania  1946-10-11  1946-11-15  River
1     2001           AL  1953         Albania  1953-12-12  1953-12-12  Flash
2     2002           AL  1960         Albania  1960-11-07  1960-11-07  Flash
3     2003           AL  1962         Albania  1962-11-15  1962-11-16  River
4     2532           AL  1968         Albania  1968-12-17  1968-12-17  Flash
...    ...          ...   ...             ...         ...         ...    ...
2516  2342           UK  2019  United Kingdom  2019-11-07  2019-11-09  River
2517  2343           UK  2020  United Kingdom  2020-02-08  2020-02-10  River
2518  2344           UK  2020  United Kingdom  2020-02-15  2020-02-18  River
2519  2688           UK  2020  United Kingdom  2020-08-11  2020-08-12  Flash
2520  2345           UK  2020  United Kingdom  2020-12-18  2020-12-28  River

                               Flood source  \
0                                       NaN
1                                       NaN
2                                       NaN
3                 Drin; Buna; Semani; Vjosa
4                                       NaN
...                                     ...
2516                    Derwent; Don; Ryton
2517                                 Irwell
2518                       Teme; Tawe; Taff
2519                                    NaN
2520  Great Ouse; Nene; Severn; Little Ouse

                               Regions affected (v2010)  \
0     AL011;AL012;AL013;AL015;AL021;AL022;AL031;AL03...
1                                           AL014;AL015
2                                     AL022;AL032;AL035
3     AL011;AL012;AL013;AL014;AL015;AL021;AL022;AL03...
4                                                 AL015
...                                                 ...
2516          UKF12;UKF13;UKF15;UKE13;UKE31;UKE32;UKF30
2517  UKD11;UKD12;UKE12;UKE21;UKE22;UKE41;UKE42;UKE4...
2518          UKF15;UKG11;UKG12;UKG22;UKG24;UKL15;UKL24
2519                                              UKM27
2520    UKF24;UKF25;UKG12;UKH12;UKH13;UKH14;UKH24;UKJ14

                               Regions affected (v2021)  Area flooded  \
0     AL011;AL012;AL013;AL015;AL021;AL022;AL031;AL03...           NaN
1                                           AL014;AL015           NaN
2                                     AL022;AL032;AL035           NaN
3     AL011;AL012;AL013;AL014;AL015;AL021;AL022;AL03...         995.0
4                                                 AL015          15.0
...                                                 ...           ...
2516          UKF12;UKF13;UKF15;UKE13;UKE31;UKE32;UKF30           NaN
2517  UKD11;UKD12;UKE12;UKE21;UKE22;UKE41;UKE42;UKE4...           NaN
2518          UKF15;UKG11;UKG12;UKG22;UKG24;UKL15;UKL24           NaN
2519                                              UKM77           NaN
2520  UKF24;UKF25;UKG12;UKH12;UKH14;UKH16;UKH17;UKH2...           NaN

      Fatalities  Persons affected  Losses (nominal value)  \
0           15.0               NaN            1.000000e+09
1            5.0               NaN            8.000000e+07
2            4.0               NaN                     NaN
3            9.0               NaN            2.000000e+09
4            0.0               NaN                     NaN
...          ...               ...                     ...
2516         1.0            4800.0            1.750000e+08
2517         0.0            2200.0            9.500000e+07
2518         2.0            6400.0            2.800000e+08
2519         0.0             760.0                     NaN
2520         0.0            3000.0                     NaN

     Losses (original currency)  Losses (2020 euro)  \
0                           ALK          29746037.0
1                           ALK           2379683.0
2                           NaN                 NaN
3                           ALK          59492073.0
4                           NaN                 NaN
...                         ...                 ...
2516                        GBP         208228123.0
2517                        GBP         106777565.0
2518                        GBP         314712825.0
2519                        NaN                 NaN
2520                        NaN                 NaN

                                      Cause  \
0                            Heavy rainfall
1                          Extreme rainfall
2                          Extreme rainfall
3                            Heavy rainfall
4                          Extreme rainfall
...                                     ...
2516     Heavy rainfall up to 84 mm in 24 h
2517    Heavy rainfall up to 180 mm in 24 h
2518                         Heavy rainfall
2519  Extreme rainfall up to 106 mm in 24 h
2520     Heavy rainfall up to 80 mm in 48 h

                                                  Notes  \
0                                       Also landslides
1                                                   NaN
2                                                   NaN
3     Flood impact continued into 1963; Impact area ...
4                                                   NaN
...                                                 ...
2516                                                NaN
2517  Approximate insured loss (total for February 2...
2518  Approximate insured loss (total for February 2...
2519                     Other areas affected (no data)
2520              Approximate number of people affected

                                             References Changes
0                                          UNDRR (2022)     New
1                                          UNDRR (2022)     New
2                                          UNDRR (2022)     New
3     UNDRR (2022); GIZ (2018); Bogdani and Selenica...     New
4                                          UNDRR (2022)     New
...                                                 ...     ...
2516  CRED (2023); FloodList (2022); Environment Age...     New
2517  FloodList (2022); Environment Agency (2022); W...     New
2518  FloodList (2022); Papagiannaki et al. (2022); ...     New
2519      Scottish Environment Protection Agency (2020)     New
2520                 FloodList (2022); MetOffice (2020)     New

[2521 rows x 20 columns]>

In [17]:
df[df['Fatalities'] == 0.0].info()

<class 'pandas.core.frame.DataFrame'>
Index: 907 entries, 4 to 2520
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          907 non-null    int64
 1   Country code                907 non-null    object
 2   Year                        907 non-null    int64
 3   Country name                907 non-null    object
 4   Start date                  907 non-null    object
 5   End date                    907 non-null    object
 6   Type                        907 non-null    object
 7   Flood source                630 non-null    object
 8   Regions affected (v2010)    907 non-null    object
 9   Regions affected (v2021)    907 non-null    object
 10  Area flooded                211 non-null    float64
 11  Fatalities                  907 non-null    float64
 12  Persons affected            551 non-null    float64
 13  Losses (nominal value)      443 non-null    float64
 14  Losses (original currency)  443 non-null    object
 15  Losses (2020 euro)          443 non-null    float64
 16  Cause                       907 non-null    object
 17  Notes                       242 non-null    object
 18  References                  907 non-null    object
 19  Changes                     719 non-null    object
dtypes: float64(5), int64(2), object(13)
memory usage: 148.8+ KB